@tailwind base;
@tailwind components;
@tailwind utilities;

.border-linear-gradients {
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(91deg, #5097fa 0%, #5363ff 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/* 
  padding 크기만큼 border color가 적용되는 현상이 있습니다.
  가운데 정렬 하신다면 padding 빼시고 사용하시면 해결은 됩니다.
*/

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: Pretendard;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* reset */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}
